[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-ollama = "*"
langchain-groq = "*"
python-dotenv = "*"
colorama = "*"
bs4 = "*"
crewai-tools = "*"
streamlit = "*"
python-decouple = "*"
pdfkit = "*"
markdown = "*"
arxiv = "*"
llama-index = "*"
numexpr = "*"
matplotlib = "*"
unstructured = "*"
scikit-learn = "*"
duckduckgo-search = "*"
autogenstudio = "*"
agentops = "*"
xgboost = "*"
lock = "*"
markdownify = "*"
chromadb = "*"
sentence-transformers = "*"
pyautogen = {extras = ["retrievechat-qdrant"] }
flaml = {extras = ["automl"] }
seaborn = "*"
google-auth-oauthlib = "*"
langgraph = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
