[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "==3.7"
openai = "*"
langchain = "*"
langchain-openai = "*"
langchain-groq = "*"
langchain-ollama = "*"
pydantic = "*"
pathlib = "*"
colorama = "*"
langchain-core = "*"
langgraph = "*"
pdfkit = "==1.0.0"
markdown = "==3.6"
crewai = "*"

[dev-packages]

[requires]
python_version = "3.11"
